<h1></h1>
<div>
	<p style="text-align:center;">
	<br><font size="+4">Welcome in Aletheion back office</font><br><br><img src="http://cyberland.c.y.pic.centerblog.net/74a0c88f.png" alt="Aletheion logo" height="300"></p>
</div>